/* code for picture-frame page */
body {
  /* palm reading background image, two small palms with symbols, mystical, celestial, stars and nebulae, dark blue and purple */
  background-image: url("./images/background.png");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
.title {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  margin-bottom: 20px;
}
.box {
  margin: auto;
  background-color: #3d3c59;
  width: 100vw;
  height: 5vh;
  position: relative;
  z-index: -1;
}
.box:first-child {
  align-self: center;
}

#back {
  text-align: left;
  padding: 5px 10px;
  width: 53px; /* modified by label length */
  overflow: auto;
  float: left;
}
.button {
  background-color: #f1c86c;
  border-radius: 5px;
}

#take-picture-button {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
}

#button-container {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
}

/* code for results page */

#results-frame-anchor {
  width: 0;
  transition: width 0.5s;
  display: flex;
  align-items: center;
  flex: none;
  overflow: hidden;
}
.show-results #results-frame-anchor {
  width: min(700px, calc(100vw - 430px));
}
#results-frame {
  position: relative;
  width: min(700px, calc(100vw - 430px));
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 40px;
  padding-right: 0;
  flex: none;
}

#results-title {
  font-size: 36px;
  position: absolute;
  color: black;
  margin: 30px;
  line-height: 1;
}
#palm-guide {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.tabs-wrapper {
  display: flex;
  position: relative;
}
.tabs-wrapper::before,
.tabs-wrapper::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tabs-wrapper::before {
  background-image: url("./images/palm-reading.PNG");
  background-size: 100% 3500px;
  background-position: bottom;
}
.tabs-wrapper::after {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}
.tabs {
  overflow-x: auto;
  display: flex;
  font-weight: bold;
  padding: 0 20px;
}
.tab {
  display: flex;
  cursor: pointer;
  position: relative;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  height: 60px;
}
.tab::before {
  content: "";
  background-color: var(--color);
  width: 1em;
  height: 1em;
  border-radius: 100%;
}
.tab input {
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
  top: 0;
  left: 0;
}
.tab input:focus {
  outline: none;
}
.tab-label {
  display: block;
}
.tab-label::before,
.tab-label::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}
.tab-label::before {
  height: 5px;
  left: 10px;
  right: 10px;
}
.tab input:checked + .tab-label::before {
  background-color: var(--color);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
.tab:hover .tab-label::after,
.tab input:focus-visible + .tab-label::after {
  background-color: rgba(255, 255, 255, 0.1);
}
.tab-content {
  background-color: #3d3c5954;
  backdrop-filter: blur(10px);
  padding: 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.tab-content h3 {
  color: var(--color);
  margin: 0;
  font-size: 24px;
  line-height: 1;
}
.tab-content p {
  margin-bottom: 0;
  line-height: 1.4;
}

/* Wrapper for the camera; guaranteed to be a square (1:1 aspect ratio) */
.camera-frame {
  display: flex;
  justify-content: center;
  align-items: center;
}
.webcam-wrapper {
  display: inline-flex;
  position: relative;
}
.square-enforcer {
  max-width: 500px;
  width: min(calc(100vh - 260px), calc(100vw - 80px));
  transition: max-width 0.5s;
}
.show-results .square-enforcer {
  max-width: 350px;
}
.stretch-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.circle-shape {
  border-radius: 100vw;
}
.circle {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  animation: mystic-pulse 4s infinite alternate;
  z-index: -1;
  border-width: 1px;
  border-style: solid;
}
@keyframes mystic-pulse {
  from {
    box-shadow: 0 0 40px #ff00dd61;
    border-color: #ff00dd8b;
  }
  to {
    box-shadow: 0 0 40px #ff00dd;
    border-color: #ff00dd;
  }
}
#webcam-video {
  display: none;
}
.flip {
  /* Flip camera for front-facing camera */
  transform: scaleX(-1);
}
#webcam-video.video-on {
  display: block;
  animation: fade-in 2s;
}
.request-webcam-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.request-webcam-wrapper p {
  max-width: 80%;
}
.instructions {
  position: absolute;
  opacity: 0;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  text-align: center;
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
  background-color: rgba(156, 156, 156, 0.2);
  backdrop-filter: blur(5px);
  transition: opacity 0.5s;
}
.instructions-active {
  opacity: 1;
  animation: fade-in 0.5s 0.5s backwards;
}
.ecg {
  opacity: 0;
  position: absolute;
  top: 100%;
  background-color: rgba(255, 0, 51, 0.3);
  backdrop-filter: blur(15px);
  width: 300px;
  left: 50%;
  margin-left: -150px;
  margin-top: -70px;
  fill: none;
  stroke: white;
  border-radius: 15px;
  stroke-width: 1;
  transition: opacity 0.5s;
}
.ecg-active {
  opacity: 1;
  transition-delay: 3.5s;
}

#read-another-hand {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
  white-space: nowrap;
  animation: fade-in 0.5s;
  z-index: 2;
}
