* {
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  margin-top: -25px;
}

.container > * {
  aspect-ratio: 1/1;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  transition: 0.5s ease;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

select:hover {
  filter: brightness(100%) drop-shadow(0px 0px 10px white);
}

option {
  background-color: transparent;
  color: white;
  background: rgb(5, 0, 46);
}

.wheel_img {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  transition: 0.5s ease;
}

#left_wheel_field {
  grid-area: 1 / 1 / 5 / 4;
}

#right_wheel_field {
  grid-area: 1 / 5 / 5 / 8;
}

input {
  color-scheme: dark;
}

.bday_input {
  color: white;
  z-index: 1;
  align-content: center;
  justify-self: stretch;
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  /** filter: brightness(10000%) drop-shadow(0px 0px 10px white); **/
  font-size: 1.25vw;
}

#birthday_label,
#left_birthday,
#right_birthday {
  display: block;
  text-align: center;
}

#left_bday_input {
  grid-area: 2 / 2 / 2 / 3;
}

#right_bday_input {
  grid-area: 2 / 6 / 2 / 7;
}

.middle {
  grid-area: 3 / 4 / 5 / 5;
  text-align: center;
}

input[type="text"] {
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.5vw;
  pointer-events: none;
}

#find-out {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1.75vw;
  color: black;
  margin-top: 7vw;
  background-color: gold;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}

#go-back {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1.75vw;
  color: black;
  margin-top: 5vh;
  background-color: gold;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}

#find-out:hover,
#go-back:hover,
#how_to:hover {
  filter: brightness(100%) drop-shadow(0px 0px 10px yellow);
}

body {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

#pop-up {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#pop-up #text {
  background-color: #3d3c59;
  border-radius: 20px;
  padding: 1vh;
  color: white;
  border: 2px solid transparent;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 white;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
  font-size: 1vw;
}

.title {
  align-self: center;
  text-align: center;
}

.title {
  font-size: 6vw;
  margin: 2vh;
  margin-bottom: 0vh;
}
#guide {
  align-self: center;
  text-align: center;
}

#guide button {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1vw;
  color: black;
  background-color: gold;
  border-radius: 20px;
  font-weight: bold;
}

#arrows {
  grid-area: 2/ 4 / 2 / 4;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
}
#left_arrow {
  width: 4vw;
  grid-area: 1 / 1;
  filter: brightness(10000%) drop-shadow(0px 0px 10px white);
}
#right_arrow {
  width: 4vw;
  grid-area: 1 / 3;
  filter: brightness(10000%) drop-shadow(0px 0px 10px white);
}

#help {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

#help #text {
  background-color: #3d3c59;
  border-radius: 20px;
  padding: 1vh;
  color: white;
  border: 2px solid transparent;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 white;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
  font-size: 1vw;
}
#help #text h2 {
  text-align: center;
}

#closeButton {
  position: absolute;
  top: 1vw;
  right: 1vw;
  width: 1.5vw;
}

@keyframes slideOffLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideOffRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
