* {
  color: white;
}
html {
  overflow-x: hidden;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../common/Images/Background.png");
  overflow: visible;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 150px repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  max-width: calc((100vh - 160px) / 3 * 7);
}

.container > * {
  min-width: 100%;
}

header {
  grid-area: 1 / 1 / 2 / 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
  margin-bottom: -25px;
}
.title {
  max-width: 100vw;
}

@media (max-width: 900px) {
  /* Cut off a column on each side */
  .container {
    margin: 0 calc(-100vw / 5);
  }
}
@media (max-width: 650px) {
  /* Cut off two columns on each side */
  .container {
    margin: 0 calc(-2 * 100vw / 3);
  }
}

select:hover {
  filter: brightness(100%) drop-shadow(0px 0px 10px white);
}

option {
  background-color: transparent;
  color: white;
  background: rgb(5, 0, 46);
}

.wheel {
  overflow: hidden;
}
.wheel_img {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  touch-action: none;
  -webkit-user-drag: none;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#left-wheel-field {
  grid-area: 2 / 1 / 5 / 4;
}

#right-wheel-field {
  grid-area: 2 / 5 / 5 / 8;
}

input {
  color-scheme: dark;
}

.bday-input {
  color: white;
  z-index: 1;
  align-content: center;
  justify-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25vw;
}

#birthday-label,
#left-birthday,
#right-birthday {
  display: block;
  text-align: center;
}
#left-bday-input {
  grid-area: 3 / 2 / 3 / 3;
}

#right-bday-input {
  grid-area: 3 / 6 / 3 / 7;
}

.middle {
  grid-area: 4 / 4 / 5 / 5;
  text-align: center;
}

input[type="text"] {
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.5vw;
  pointer-events: none;
}

.title {
  text-align: center;
}
#guide {
  align-self: center;
  text-align: center;
  margin-top: 20px;
}
#how-to {
  font-size: 24px;
}

#arrows {
  grid-area: 3 / 4 / 3 / 4;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
}
#left-arrow {
  width: 2.75vw;
  grid-area: 1 / 1;
  filter: brightness(10000%) drop-shadow(0px 0px 10px white);
}
#right-arrow {
  width: 2.75vw;
  grid-area: 1 / 3;
  filter: brightness(10000%) drop-shadow(0px 0px 10px white);
}

.popup-wrapper {
  visibility: hidden;
  pointer-events: none;
  transition: all 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: #3d3c597b;
  backdrop-filter: blur(15px);
  opacity: 0;
}
.open {
  visibility: visible;
  pointer-events: unset;
  opacity: 1;
}
.popup {
  position: relative;
  z-index: 1;
  margin: 40px;
  max-width: 800px;
  max-height: calc(100% - 80px);
  overflow: auto;
  background-color: #3d3c59;
  border-radius: 15px;
  padding: 40px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3), 0 10px 50px rgba(0, 0, 0, 0.5);
  transform: scale(0.95);
  transition: transform 0.5s;
}
@media (max-width: 500px) {
  .popup-wrapper {
    align-items: flex-end;
  }
  .popup {
    padding: 20px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    max-height: calc(100% - 20px);
    transform: translateY(20px);
  }
}
.open .popup {
  transform: none;
}
.popup h2 {
  text-align: center;
  margin: 0;
}
.popup ul {
  margin: 0;
}
.popup p,
.popup li {
  line-height: 1.5;
  margin: 0.5em 0;
}

#close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
}
#go-back {
  margin: auto;
  display: block;
}

#left-wheel-field {
  animation: slideOnLeft 1.25s;
}
#right-wheel-field {
  animation: slideOnRight 1.25s;
}
#left-bday-input {
  animation: appear 1s 1.25s backwards;
}
#right-bday-input {
  animation: appear 1s 1.25s backwards;
}
#left-arrow {
  animation: appear 1s 1.75s backwards;
}
#right-arrow {
  animation: appear 1s 1.75s backwards;
}
#find-out {
  animation: appear 1s 2.25s backwards;
}
#how-to {
  animation: appear 1s 2.75s backwards;
}

#left-wheel-field,
#right-wheel-field,
#left-arrow,
#right-arrow,
#left-bday-input,
#right-bday-input {
  transition: transform 1s, opacity 1s;
}
.remove-wheels #left-wheel-field,
.remove-wheels #left-arrow,
.remove-wheels #left-bday-input {
  transform: translateX(-50vw);
  opacity: 0;
}
.remove-wheels #right-wheel-field,
.remove-wheels #right-arrow,
.remove-wheels #right-bday-input {
  transform: translateX(50vw);
  opacity: 0;
}
.middle,
#guide {
  transition: opacity 0.5s, visibility 0.5s;
}
.remove-wheels .middle,
.remove-wheels #guide {
  visibility: hidden;
  opacity: 0;
}

@keyframes slideOnLeft {
  from {
    transform: translateX(-50vw);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideOnLeft {
  from {
    transform: translateX(-50vw);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideOnRight {
  from {
    transform: translateX(50vw);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

/* I think it's fine if the buttons are clickable before they're visible. */
@keyframes appear {
  from {
    opacity: 0;
    /* pointer-events: none; */
  }

  to {
    opacity: 1;
    /* pointer-events: none; */
  }
}
@keyframes slideOffRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(50vw);
    opacity: 0;
  }
}
