body {
  background-image: url("images/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  border-radius: 50%;
}

.fortune-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.fortune-cookie {
  width: 200px;
  height: 200px;
}

#fortune-button {
  margin-top: 20px;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #DAA520;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#fortune-button:hover {
  background-color: #FFD700;
}

#fortune-text {
  margin-top: 20px;
  font-size: 24px;
  color: #F1C86C;
  font-weight: bold;
  text-align: center;
  display: none;
}

.nav-list>a:hover {
  color: #3d3c59;
}