body {
  background-image: url("Images/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Make center image round */
img {
  border-radius: 50%;
  border: 0.25em #5d59d1 solid;
}

/* Navigation bar settings */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1e1f2e;
}

/* Navigation bar settings */
li {
  float: left;
}

/* Navigation bar settings */
li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

li a:hover,
.audio-dropdown:hover .dropbtn {
  /* background-color: #3d3c59; */
  background-color: #1e1f2e;
  color: #5d59d1;
}

li.audio-dropdown {
  display: inline-block;
}

.audio-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.audio-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.audio-content a:hover {
  background-color: #1e1f2e;
  color: #5d59d1;
}

.audio-dropdown:hover .audio-content {
  display: block;
  background-color: #3d3c59;
}

.fortune-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.fortune-cookie {
  width: 300px;
  height: 300px;
}

#fortune-button {
  margin-top: 20px;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #daa520;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#fortune-button:hover {
  background-color: #ffd700;
}

#fortune-text {
  margin-top: 20px;
  font-size: 24px;
  color: #f1c86c;
  font-weight: bold;
  text-align: center;
  display: none;
}

.nav-list a:hover {
  color: #5d59d1;
}

.page-title {
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.page-subtitle {
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.nav-list a {
  text-decoration: none;
  color: #ffffff;
}

.menu-bar {
  display: flex;
  justify-content: center;
}

.nav-items-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.nav-list {
  margin: 0 10px;
}
