html,
body {
  height: 100%;
}
body {
    font-family: 'Arial';
    font-size: 20px;
    text-align: center;
    background-image: url(img/background.png);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
}
input,
button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
}
::placeholder {
  color: inherit;
  opacity: 0.3;
}
h1 {
  font-size: 80px;
  margin: 0;
  animation: shimmer linear 5s infinite;
  background-size: 2000px;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(95deg, #ffccf3 50%, white 52%, #ffccf3 54%);
  text-shadow: 0 0 20px #ffccf385;
}
@keyframes shimmer {
  from {
    background-position: 2000px;
  }
  to {
    background-position: 0;
  }
}
#answer {
    font-size: 40px;
    margin: 20px auto;
    font-weight: bold;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(90deg,transparent, transparent, rgb(255, 0, 221), white, white);
    background-size: 1200px;
    max-width: 300px;
    animation: flash-in 1s forwards;
}
@keyframes flash-in {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
#eightball-wrapper {
  font-size: 0;
}
#eightball {
    height: 150px;
    width: 150px;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    transition: transform .2s;
}
#eightball-wrapper:not(.spinning) #eightball:hover {
  transform: scale(1.1) rotate(5deg);
}
.spinning {
    animation-name: spin;
    animation-iteration-count: 1;
    animation-duration: 3s;
}

#question-form {
  display: flex;
  height: 60px;
  background-color: #0d031f;
  border-radius: 999px;
  position: relative;
  margin: 30px 0;
  max-width: 500px;
  width: 100%;
}
#question-form::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 999px;
  background-image: linear-gradient(95deg, #ed36c9, #6b08d8);
  filter: blur(10px);
  opacity: 0.5;
  transition: all 0.5s;
}
#question-form:focus-within:before {
  filter: blur(30px);
  opacity: 1;
}
#question,
#submit {
  height: 100%;
  font-size: 24px;
}
#question {
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  padding: 0 25px;
  flex: 3 0 0;
}
#submit {
    flex: 2 0 0;
    background-color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(95deg, transparent, transparent, #ed36c9, #6b08d8);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 600px;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    transition: background-color 0s 1s, background-position 1s, color 1s;
  }
  #submit:not(:disabled) {
    cursor: pointer;
  }
  #submit:disabled {
    background-position: left;
    background-color: transparent;
    color: #8e5c8e;
    transition: background-position .5s, color .5s;
  }
  #submit:not(:disabled):hover {
    animation: burn 1000ms ease-out forwards;
    
  }
  #submit:before {
    position: absolute;
    left: 40px;
    width: 100px;
    height: 40px;
    background: rgba(255, 230, 110, 1);
    border-radius: 100%;
    animation: flare 1000ms ease-out forwards;
  }

  #submit:after {
    right: 40px;
    width: 100px;
    height: 40px;
    background: rgba(255, 230, 110, 1);
    border-radius: 100%;
    animation: flare 1000ms ease-out forwards;
  }
  
  @keyframes flare {
    100% {
      transform: translateY(-20px) scale(1.5);
      filter: blur(10px);
      opacity: 0;
    }
  }
  
  @keyframes burn {
    0% {
      color: rgba(255, 130, 110, 1);
      background-position: left;
      box-shadow:
        0 0 5px 0 rgb(51,0,51),
        0 0 5px 0 rgba(230, 30, 10, 0.8),
        0 0 5px 0 rgba(230, 230, 10, 0.6);
    }
    
    100% {
      color: white;
      background-position: right;
      box-shadow:
        0 -35px 40px 30px rgba(255, 130, 10, 0),
        0 -30px 30px 10px rgba(230, 30, 10, 0),
        0 -20px 10px 0 rgba(255, 255, 10, 0);
    }
  }
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@font-face {
    font-family: 'Enchanted Land';
    src: url('Font/Enchanted Land.otf') format('opentype');
  }
  * {
    font-family: 'Enchanted Land';
  }